<div id="<%= dom_id lsoa_matcher %>">
  <p>
    <strong>Name:</strong>
    <%= lsoa_matcher.name %>
  </p>

  <p>
    <strong>Match strings:</strong>
    <%= lsoa_matcher.match_strings %>
  </p>

  <p>
    <strong>Extra postcodes:</strong>
    <%= lsoa_matcher.extra_postcodes %>
  </p>

</div>
